.grids-integrantes {
    padding: 20px;
    margin: 20px;
  }
  
  .descripcion-integrantes {
    font-family: Teko;
    color: white;
    font-size: 25px;
    padding: 20px;
  }
  
  h2 {
    color: white;
    font-size: 35px;
  }
  